apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - v1
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - v1
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - batch
  resources:
  - jobs/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - backups
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - backups/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - extension.shepherd
  resources:
  - backups/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - backups
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - backups/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - extension.shepherd
  resources:
  - backupscheduleds
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - backupscheduleds/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - extension.shepherd
  resources:
  - backupscheduleds/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - batch
  resources:
  - jobs/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps.openshift.io
  resources:
  - deploymentconfigs
  verbs:
  - get
- apiGroups:
  - extension.shepherd
  resources:
  - restores
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - restores/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - extension.shepherd
  resources:
  - restores/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - syncs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - syncs/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - extension.shepherd
  resources:
  - backups
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - backups/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - extension.shepherd
  resources:
  - backups/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps.openshift.io
  resources:
  - deploymentconfigs
  verbs:
  - get
- apiGroups:
  - extension.shepherd
  resources:
  - restores
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - extension.shepherd
  resources:
  - restores/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - extension.shepherd
  resources:
  - restores/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
