apiVersion: extension.shepherd/v1
kind: Sync
metadata:
  name: node-123-sync-xyz
spec:
  deploymentName: node-123
  backupSpec:
    volumes:
      shared:
        claimName: node-123-shared
    mysql:
      default:
        secret:
          name: node-123
          keys:
            username: DATABASE_USER
            password: DATABASE_PASSWORD
            database: DATABASE_NAME
            hostname: DATABASE_HOST
            port: DATABASE_PORT
  restoreSpec:
    volumes:
      shared:
        claimName: node-456-shared
    mysql:
      default:
        secret:
          name: node-456
          keys:
            username: DATABASE_USER
            password: DATABASE_PASSWORD
            database: DATABASE_NAME
            hostname: DATABASE_HOST
            port: DATABASE_PORT
